---
layout: layouts/home.njk
title: Home
introName: "Hi, I'm Karl,"
introRole: "a design system accessibility specialist"
eleventyNavigation:
  key: Home
  order: 0
---
<ul class="cards">
  {%- for project in collections.projects %}
  <li>
    <img src="{{ project.data.cardImage }}" alt="{{ project.data.cardAlt }}">
    <div class="text">
      <h2><a href="{{ project.url }}">{{ project.data.cardTitle }}</a></h2>
    </div>
  </li>
  {%- endfor %}
  <li>
    <img src="/assets/img/Snippets.svg" alt="Blog icon">
    <div class="text">
      <h2><a href="/blog/">Blog: posts of little things</a></h2>
    </div>
  </li>
  <li>
    <img src="/assets/img/Discovery.svg" alt="">
    <div class="text">
      <h2><a href="/accessibility-discovery/">Accessibility discovery: exercises for teams</a></h2>
    </div>
  </li>
</ul>
