<footer>
  <ul>
    <li>Email: <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
    <li>Find me on <a href="{{ site.linkedinUrl }}" rel="noreferrer">LinkedIn</a></li>
    <li>Follow me on twitter <a href="https://twitter.com/{{ site.twitterUsername }}" rel="noreferrer">@{{ site.twitterUsername }}</a></li>
    <li><a href="/feed.xml">RSS feed</a></li>
  </ul>
</footer>
