---
layout: layouts/page.njk
title: Blog
intro: Design snippets
lead: A collection of little posts I've written
eleventyNavigation:
  key: Blog
  order: 2
---
{%- set posts = collections.posts | reverse %}
{%- if posts.length %}
<ul class="post-list">
  {%- for post in posts %}
  <li>
    <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
    <p class="date"><time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>{% if post.data.draft %} (draft){% endif %}</p>
    <hr>
  </li>
  {%- endfor %}
</ul>
{%- else %}
<p>No posts yet. Check back soon.</p>
{%- endif %}
